# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

[*.cs]
# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none
